@hexya-font-size-base: 13px;

@hexya-color-primary-dark: #142C72;
@hexya-color-primary-medium: #365FC6;
@hexya-color-primary-light: #31D4FF;
@hexya-color-secondary-yellow: #FDCA1F;
@hexya-color-secondary-gold: #D0A65A;
@hexya-color-secondary-dark-gold: #C17F16;
@hexya-color-secondary-yellow-light: #FFF81D;
@hexya-color-secondary-blue-medium: #2690C6;
@hexya-color-secondary-ruby: #FF4870;
@hexya-color-secondary-raspberry: #C4204B;

@hexya-brand-primary: @hexya-color-primary-medium;
@hexya-brand-optional: @hexya-color-primary-dark;
@hexya-brand-secondary: #f0eeee;
@hexya-brand-lightsecondary: #e2e2e0;

@hexya-color-pink: @brand-primary;
@hexya-main-color-muted: #a8a8a8;
@hexya-main-text-color: #4c4c4c;

@hexya-view-background-color: white;
@hexya-shadow-color: #303030;

@hexya-webclient-background-color: @hexya-brand-secondary;
@hexya-control-panel-background-color: @hexya-webclient-background-color;
@hexya-form-lightsecondary: #ccc;
@hexya-list-grey: @hexya-brand-lightsecondary;

@hexya-list-footer-color: @hexya-main-text-color;
@hexya-list-footer-bg-color: #eee;
@hexya-list-footer-font-weight: bold;

@hexya-tooltip-background-color: black;
@hexya-tooltip-color: white;
@hexya-tooltip-arrow-color: black;

// Layout
@screen-xxs-max: (@screen-xs-min - 1);

@hexya-form-group-cols: 12;
@hexya-form-spacing-unit: 5px;
@hexya-horizontal-padding: 16px;
@hexya-innergroup-rpadding: 45px;
@hexya-dropdown-hpadding: 25px;

@hexya-sheet-vpadding: 24px;

@hexya-avatar-size: 90px;

@hexya-statusbar-height: 36px;
@hexya-statusbar-arrow-width: @hexya-statusbar-height/3;

@hexya-label-font-size-factor: 0.8;
@hexya-navbar-height: 34px;
@hexya-navbar-inverse-link-hover-bg: darken(@hexya-brand-primary, 10%);
